* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("./images/career-responsive.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 8rem;
  height: 2.5rem;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 2%;
  right: 2%;
}

@media screen and (min-width: 720px) {
  .logo {
    width: 9.38rem;
    height: 3.12rem;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    top: 3%;
    right: 3%;
    transition: all 0.2s ease-in-out;
  }
  .logo:hover {
    transform: scale(1.4);
  }
}

.applyBtn {
  width: 10rem;
  height: 1.5rem;
  background: url("./images/Button\ -\ Apply\ Now.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  bottom: 3%;
  left: 2.5%;
}

.applyBtn:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 0 5px #ffff00, 0 0 20px #fff200, 0 0 35px rgba(255, 251, 0, 0.7),
    0 0 50px rgba(200, 0, 255, 0.6);
  border-color: #fff;
}
