* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-page {
  width: 100%;
  height: 100vh;
  background: url("./images/cyberpunk-contact.jpg") no-repeat center center
    fixed;
  background-size: cover;
  z-index: -1;
}

.logo {
  width: 9.38rem;
  height: 2.5rem;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 2%;
  right: 2%;
}

@media screen and (min-width: 720px) {
  .logo {
    width: 9.38rem;
    height: 2.5rem;
    background: url("./images/logo.png") no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 2%;
    right: 2%;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    width: 250px;
    height: 70px;
    background: url("./images/logo.png") no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.4);
  /* box-shadow: 0 0 5px #ffff00, 0 0 20px rgb(255 255 0 / 0.8),
            0 0 35px rgb(255 255 0 / 0.7), 0 0 50px rgb(255 255 0 / 0.6);
        border-color: #fff; */
}

/* ---------CONTACT FORM------------ */

fieldset {
  width: 100%;
  padding: 12px;
  border: 2px solid rgb(245, 181, 246);
  border-radius: 0.5rem;
}

.container-form-phone {
  display: flex;
  justify-content: space-around;
}

.container-form,
.container-phone {
  width: 85%;
  border-radius: 0.5rem;
  border: 2px solid rgb(245, 181, 246);
  background-color: rgba(221, 80, 136, 0.742);
  /* border: 4px solid blue; */
  padding: 1.3rem;
  position: absolute;
  top: 8%;
  /* left: 8%; */
  margin: auto;
  opacity: 1;
  font-family: "Chau Philomene One", sans-serif;
  font-size: 1.2rem;
  color: #f1dee6fd;
}

@media screen and (min-width: 720px) {
  .container-form,
  .container-phone {
    width: 60%;
    border-radius: 0.5rem;
    border: 2px solid rgb(245, 181, 246);
    /* border: 4px solid red; */
    background-color: rgba(221, 80, 136, 0.742);
    padding: 1.3rem;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 1;
    font-family: "Chau Philomene One", sans-serif;
    font-size: 1.4rem;
    color: #f1dee6fd;
  }
}

@media screen and (min-width: 900px) {
  .container-form,
  .container-phone {
    width: 60%;
    border-radius: 0.5rem;
    border: 2px solid rgb(245, 181, 246);
    background-color: rgba(221, 80, 136, 0.742);
    padding: 1.3rem;
    position: absolute;
    top: 10%;
    /* left: 10%; */
    opacity: 1;
    font-family: "Chau Philomene One", sans-serif;
    font-size: 1.4rem;
    color: #f1dee6fd;
  }
}

.container-phone {
  height: fit-content;
  width: 85%;
  padding: 0.4rem;
  top: 60rem;
  left: 3.4rem;
  /* margin: auto; */
}

@media screen and (min-width: 720px) {
  .container-phone {
    height: fit-content;
    width: 22%;
    padding: 0.4rem;
    top: 48rem;
    left: 42rem;
  }
}

@media screen and (min-width: 900px) {
  .container-phone {
    height: fit-content;
    width: 22%;
    padding: 0.4rem;
    top: 48rem;
    left: 90rem;
  }
}
.container-phone p {
  padding: 0.2rem;
}

legend {
  padding: 0.7rem;
}

input[type="date"],
input[type="time"] {
  margin: 0.8rem 0;
  font-family: "Chau Philomene One", sans-serif;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.6rem;
  /* N E O N  */
  /* border: 0.1rem solid #ccc; */
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border: 2px solid rgb(245, 181, 246);
  font-family: "Chau Philomene One", sans-serif;
}

button[type="submit"] {
  background-color: #d84d81;
  color: rgb(248, 206, 249);
  padding: 0.8rem 2rem;
  border: 2px solid rgb(245, 181, 246);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Chau Philomene One", sans-serif;
}

button[type="submit"]:hover {
  background-color: rgb(248, 206, 249);
  color: #d84d81;
  border: 2px solid #d84d81;
  font-family: "Chau Philomene One", sans-serif;
}
.container-file {
  margin: 0 0 1.2rem 0;
}

.container-file label {
  font-family: "Chau Philomene One", sans-serif;
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 0.5rem;
}

input[type="file"] {
  display: none;
}
