* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
.mainpage {
  width: 100%;
  height: 100vh;
  background: url("./images/mainpage.jpg") no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

/* L O G O */
.logo {
  width: 100px;
  height: 40px;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 1%;
  right: 1%;
}

@media screen and (min-width:720px){
  .logo {
    width: 9.38rem;
  height: 3.12rem;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 1%;
  right: 2%;
  }
  
}

@media screen and (min-width: 900px) {
  .logo {
    width: 250px;
  height: 70px;
  background: url("./images/logo.png") no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 5%;
  right: 5%;
  }
}



/* C O N T A C T */
.contact i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 20%;
  right: 14%;
}

.contact {
  content: attr(data-legend);
  position: absolute;
  top: 25%;
  right: 13%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .contact i {
    font-size: 3rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 20%;
    right: 14%;
  }
  
  .contact {
    content: attr(data-legend);
    position: absolute;
    top: 25%;
    right: 13%;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }  
}
@media screen and (min-width:900px){
.contact i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 20%;
  right: 14%;
}

.contact:hover i {
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 20%;
  right: 14%;
}

.contact:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 25%;
  right: 13%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}
}



/* A B O U T */
.about i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 5%;
  left: 18%;
}

.about:hover i {
  display: block;
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 5%;
  left: 18%;
}

.about:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 12%;
  left: 18%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .about i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 5%;
    left: 18%;
  }
  
  .about:hover i {
    display: block;
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 5%;
    left: 18%;
  }
  
  .about:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 12%;
    left: 18%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }    
}

@media screen and (min-width:900px){
  .about i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 5%;
    left: 18%;
  }
  
  .about:hover i {
    display: block;
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 5%;
    left: 18%;
  }
  
  .about:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 12%;
    left: 18%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }  
}


/* S E R V I C E S */
.services i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 35%;
}

.services:hover i {
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 35%;
}

.services:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 17%;
  left: 35%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .services i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  
  .services:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  
  .services:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 17%;
    left: 35%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}

@media screen and (min-width:900px){
  .services i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  
  .services:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  
  .services:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 17%;
    left: 35%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}



/* A W A R D S */
.award i {
  font-size: 4rem;
  color: #b34683;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 20%;
  left: 25%;
}

.award:hover i {
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
  z-index: 99;
  position: absolute;
  top: 20%;
  left: 24%;
}

.award:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 26.5%;
  left: 24%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .award i {
    font-size: 4rem;
    color: #b34683;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: 25%;
  }
  
  .award:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: 24%;
  }
  
  .award:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 26.5%;
    left: 24%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}

@media screen and (min-width: 900px){
  .award i {
    font-size: 4rem;
    color: #b34683;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: 25%;
  }
  
  .award:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    background-size: 100% 100%;
    z-index: 99;
    position: absolute;
    top: 20%;
    left: 24%;
  }
  
  .award:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 26.5%;
    left: 24%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}



/* C A R E E R */
.career i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 10%;
  right: 32%;
}

.career:hover i {
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  z-index: 99;
  position: absolute;
  top: 10%;
  right: 32%;
}

.career:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 15.5%;
  right: 32%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .career i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 10%;
    right: 32%;
  }
  
  .career:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    z-index: 99;
    position: absolute;
    top: 10%;
    right: 32%;
  }
  
  .career:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 15.5%;
    right: 32%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}

@media screen and (min-width:900px){
  .career i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 10%;
    right: 32%;
  }
  
  .career:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    z-index: 99;
    position: absolute;
    top: 10%;
    right: 32%;
  }
  
  .career:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 15.5%;
    right: 32%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}



/* P A R T N E R */
.partner i {
  font-size: 4rem;
  color: #b34683;
  z-index: 99;
  position: absolute;
  top: 22%;
  left: 55%;
}

.partner:hover i {
  transform: scale(1.8);
  transition: all 0.3s ease-in-out;
  z-index: 99;
  position: absolute;
  top: 22%;
  left: 55%;
}

.partner:hover:after {
  content: attr(data-legend);
  position: absolute;
  top: 27%;
  left: 55%;
  text-align: center;
  transform: translateY(100%);
  font-size: 1.5rem;
  font-family: "Chau Philomene One", sans-serif;
  color: #15ee7e;
}

@media screen and (min-width:720px){
  .partner i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 22%;
    left: 55%;
  }
  
  .partner:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    z-index: 99;
    position: absolute;
    top: 22%;
    left: 55%;
  }
  
  .partner:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 27%;
    left: 55%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}

@media screen and (min-width:900px){
  .partner i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 22%;
    left: 55%;
  }
  
  .partner:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    z-index: 99;
    position: absolute;
    top: 22%;
    left: 55%;
  }
  
  .partner:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 27%;
    left: 55%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }
}



/* M I S S I O N */
.mission i {
    font-size: 4rem;
    color: #b34683;
    z-index: 99;
    position: absolute;
    top: 25%;
    left: 9%;
  }
  
  .mission:hover i {
    transform: scale(1.8);
    transition: all 0.3s ease-in-out;
    z-index: 99;
    position: absolute;
    top: 25%;
    left: 9%;
  }
  
  .mission:hover:after {
    content: attr(data-legend);
    position: absolute;
    top: 32%;
    left: 9%;
    text-align: center;
    transform: translateY(100%);
    font-size: 1.5rem;
    font-family: "Chau Philomene One", sans-serif;
    color: #15ee7e;
  }

  @media screen and (min-width:720px){
    .mission i {
      font-size: 4rem;
      color: #b34683;
      z-index: 99;
      position: absolute;
      top: 25%;
      left: 9%;
    }
    
    .mission:hover i {
      transform: scale(1.8);
      transition: all 0.3s ease-in-out;
      z-index: 99;
      position: absolute;
      top: 25%;
      left: 9%;
    }
    
    .mission:hover:after {
      content: attr(data-legend);
      position: absolute;
      top: 32%;
      left: 9%;
      text-align: center;
      transform: translateY(100%);
      font-size: 1.5rem;
      font-family: "Chau Philomene One", sans-serif;
      color: #15ee7e;
    }
  }

  @media screen and (min-width:900px){
    .mission i {
      font-size: 4rem;
      color: #b34683;
      z-index: 99;
      position: absolute;
      top: 25%;
      left: 9%;
    }
    
    .mission:hover i {
      transform: scale(1.8);
      transition: all 0.3s ease-in-out;
      z-index: 99;
      position: absolute;
      top: 25%;
      left: 9%;
    }
    
    .mission:hover:after {
      content: attr(data-legend);
      position: absolute;
      top: 32%;
      left: 9%;
      text-align: center;
      transform: translateY(100%);
      font-size: 1.5rem;
      font-family: "Chau Philomene One", sans-serif;
      color: #15ee7e;
    }
  }

    /* Design for circle animation */
      /* box-shadow: 0 0 5px #ffff00, 0 0 20px rgb(255 255 0 / 0.8),
            0 0 35px rgb(255 255 0 / 0.7), 0 0 50px rgb(255 255 0 / 0.6);
        border-color: #fff; */